[submodule "external/unity"]
	path = external/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "external/esp-idf"]
	path = external/esp-idf
	url = https://github.com/espressif/esp-idf.git
