{:track-id :sound-demos-hall-of-the-mountain-king
 :steps [{:melody :E4 :backing [:D3] :duration :q}
         {:melody :F4 :backing [:D3] :duration :q}
         {:melody :G4 :backing [:D3] :duration :q}
         {:melody :E4 :backing [:D3] :duration :q}
         {:melody :E4 :backing [:D3] :duration :q}
         {:melody :F4 :backing [:D3] :duration :q}
         {:melody :G4 :backing [:D3] :duration :q}
         {:melody :A4 :backing [:D3] :duration :q}
         {:melody :B4 :backing [:D3] :duration :q}
         {:rest :e}
         {:melody :A4 :backing [:D3] :duration :h}
         {:melody :E4 :backing [:D3] :duration :w}]
 :opts {:melody {:volume 220}
        :backing {:volume 138}
        :tempo-bpm 60
        :gate-percent 80}}