{:track-id :sound-demos-can-can
 :steps [{:melody :A5 :backing :A3 :duration :e}
         {:melody :C6 :backing :E4 :duration :e}
         {:melody :A5 :backing :A3 :duration :e}
         {:melody :G5 :backing :E4 :duration :e}
         {:melody :E5 :backing :A3 :duration :e}
         {:melody :G5 :backing :E4 :duration :e}
         {:melody :E5 :backing :A3 :duration :e}
         {:melody :D5 :backing :E4 :duration :e}
         {:melody :C5 :backing :A3 :duration :e}
         {:melody :E5 :backing :E4 :duration :e}
         {:melody :C5 :backing :A3 :duration :e}
         {:melody :B4 :backing :E4 :duration :e}
         {:melody :A4 :backing :A3 :duration :q}
         {:rest :q}]
 :opts {:melody {:volume 220}
        :backing {:volume 152}
        :tempo-bpm 120
        :gate-percent 76}}